.progress-bar
  &_wrapper
    position relative
    left 50%
    transform translateX(-50%)
    overflow hidden
    border-radius 5px
    width  90%
    height 2em
  
  &_part
    transition: 90% 200ms
    height: 100%
    text-align : center
    float : left